<p style="color: green"><%= notice %></p>

<div class="container mt-4">
  <%= render @post %>
</div>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-secondary me-2" %> |
  <%= link_to "Back to posts", posts_path, class: "btn btn-light" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger" %>
</div>
